@charset "UTF-8";
@import "main.css";
* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #1f1f1f;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.clearfloat:before,
.clearfloat:after {
	content: "";
	display: table;
}

.clearfloat:after {
	clear: both;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#music-wrapper {
	width: 50px;
	height: 50px;
	display: none;
	position: absolute;
	top: 40px;
	right: 45px;
	z-index: 2;
}

#music-wrapper>span {
	position: absolute;
	top: 0px;
	left: -110px;
	height: 54px;
	color: #fff;
	opacity: 0;
	font-size: 26px;
	line-height: 54px;
	text-align: center;
}

#music {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: 5px;
	border: 1px solid rgba(250, 250, 250, .5);
	border-radius: 100%;
	background: url(../images/mobile/music.png) no-repeat center rgba(0, 0, 0, .3);
	box-sizing: border-box;
}

#arrow-left {
    position: absolute;
    top: 47%;
    left: 5%;
    width: 30px;
    height: 97px;
    cursor: pointer;
    background: url(../images/mobile/arrow_left_big.png) no-repeat center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#arrow-right {
    position: absolute;
    top: 47%;
    right: 5%;
    width: 30px;
    height: 97px;
    cursor: pointer;
    background: url(../images/mobile/arrow_right_big.png) no-repeat center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#arrow {
	width: 100%;
	height: 32px;
	position: absolute;
	z-index: 1;
	bottom: 5%;
	left: 0;
	background: url(../images/mobile/arrow_up_big.png) no-repeat center;
}

.infinite {
	-webkit-animation-iteration-count: infinite;
}

#label {
	display: block;
	height: 0px;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	color: #fff;
	font-size: 28px;
	line-height: 88px;
	padding: 0 30px;
	overflow: hidden;
	background: url(../images/mobile/arrow_down.png) no-repeat 576px center rgba(0, 0, 0, .5);
	box-sizing: border-box;
	-webkit-transition: height .25s;
	transition: height .25s;
}

#introduction {
	height: 0;
	width: 100%;
	color: #fff;
	font-size: 28px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	overflow-x: hidden;
	overflow-y: auto;
	background: rgba(0, 0, 0, .5);
	-webkit-overflow-scrolling: touch;
	box-sizing: border-box;
}

#introduction>p {
	margin: 30px;
}

#introduction>footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 98px;
	line-height: 98px;
	font-size: 28px;
	padding: 0 30px;
	background: url(../images/mobile/arrow_up.png) no-repeat 576px center rgba(0, 0, 0, .5);
	box-sizing: border-box;
}

.note {
	position: absolute;
	top: 7.5px;
	left: 14px;
	width: 22px;
	height: 35px;
	background: url(../images/mobile/music.png) no-repeat;
}

@-webkit-keyframes flyNote1 {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(40px, -50px, -100px) rotateZ(90deg);
	}
}

.fly-note1.note {
	-webkit-animation-name: flyNote1;
	-webkit-animation-duration: .75s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: both;
}

@-webkit-keyframes flyNote2 {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate3d(40px, -50px, -100px) rotateZ(180deg);
	}
}

.fly-note2.note {
	-webkit-animation-name: flyNote2;
	-webkit-animation-duration: .85s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: both;
}

@-webkit-keyframes flyNote3 {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0px, -90px, -40px) rotateZ(70deg);
	}
}

.fly-note3.note {
	-webkit-animation-name: flyNote3;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: both;
}

@-webkit-keyframes flyNote4 {
	0% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(20px, -90px, -100px) rotateZ(220deg);
	}
}

.fly-note4.note {
	-webkit-animation-name: flyNote4;
	-webkit-animation-duration: 1.25s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: both;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateZ(360deg);
	}
}

.spin {
	-webkit-animation-name: spin;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: both;
}
/*尾页*/

/*淡出效果*/

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 1s 1 ease-in-out;
	-moz-animation: fadeOut 1s 1 ease-in-out;
	-ms-animation: fadeOut 1s 1 ease-in-out;
	animation: fadeOut 1s 1 ease-in-out;
}

#progress {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 0%;
	height: 5px;
	background: #62b701;
	transition: width .25s;
}
/*推荐页*/

menu {
	width: 100%;
	height: 88px;
	font-size: 36px;
	color: #ffffff;
	list-style: none;
	background: #000;
}

menu>li {
	width: 30%;
	height: 100%;
	margin-left: 10%;
	margin-right: 10%;
	line-height: 88px;
	float: left;
	text-align: center;
	box-sizing: border-box;
}

menu>li:first-child {
	background: url(../images/mobile/geren.png) no-repeat center;
}

menu>li:last-child {
	background: url(../images/mobile/remen.png) no-repeat center;
}

menu>li:first-child.active {
	background: url(../images/mobile/geren_yellow.png) no-repeat center;
}

menu>li:last-child.active {
	background: url(../images/mobile/remen_yellow.png) no-repeat center;
}

#mepc menu>li:first-child {
	background: url(hot_gray) no-repeat center;
}

#mepc menu>li:last-child {
	background: url(new_gray.png) no-repeat center;
}

#mepc menu>li:first-child.active {
	background: url(../images/mobile/hot_yellow.png) no-repeat center;
}

#mepc menu>li:last-child.active {
	background: url(../images/mobile/new_yellow.png) no-repeat center;
}

#face {
	display: block;
	width: 114px;
	height: 114px;
	margin: 80px auto 15px auto;
	border-radius: 100%;
}

#nick {
	color: #fff;
	font-size: 32px;
	text-align: center;
}

#nick>label {
	font-style: italic;
}

#weixin.disabled {
	opacity: .2;
}

#weixin {
	width: 190px;
	height: 40px;
	margin: 23px auto 25px auto;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	background: #000000;
	border-radius: 6px;
}

#weixin>a {
	text-decoration: none;
	color: #7eff51;
}

.hr {
	width: 491px;
	height: 6px;
	margin: 0 auto;
	background: url(../images/mobile/hr.png) no-repeat center;
	background-size: contain;
}

#no-pro {
	margin-top: 44px;
	margin-bottom: 320px;
	color: rgba(255, 255, 255, 0.2);
	font-size: 24px;
	text-align: center;
	line-height: 37.06px;
}

.pro-wrapper {
	position: relative;
	width: 526px;
	height: auto;
	margin: 15px auto 60px auto;
	overflow: hidden;
	box-sizing: border-box;
}

.pro-wrapper>ul {
	margin: 0 auto;
	text-align: center;
}

.pro-wrapper li {
	width: 148px;
	height: 233px;
	margin: 14px;
	float: left;
	overflow: hidden;
}

.pro-wrapper li>img {
	width: 100%;
	height: 100%;
}

.left {
	float: left;
}

li {
	list-style: none;
}

li>a {
	display: block;
}

#hot-wrapper {
	position: relative;
}

#new-pro-wrapper,
#hot-pro-wrapper {
	width: 526px;
	height: auto;
	margin: 88px auto 88px auto;
	overflow: hidden;
}

#new-pro-wrapper >ul>li,
#hot-pro-wrapper >ul>li {
	width: 526px;
	height: auto;
}

.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}

.swipe-wrap {
	overflow: hidden;
	position: relative;
}

.swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
}

#hot-arrow-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 71px;
	height: 550px;
	background: url(../images/mobile/arrow_left.png) no-repeat center;
}

#hot-arrow-right {
	position: absolute;
	top: 0;
	right: 0;
	width: 71px;
	height: 550px;
	background: url(../images/mobile/arrow_right.png) no-repeat center;
}

#ME {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 57px;
	background: url(../images/mobile/ME.png) no-repeat center;
	background-size: cover;
}

#mepc #ME {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 88px;
	background: #000;
}

#agoodme {
	width: 171px;
	height: 100%;
	margin-left: 133px;
	margin-right: 65px;
	float: left;
	background: url(../images/mobile/mepc.png) no-repeat center;
}

#guanzhu {
	width: 139px;
	height: 38px;
	margin-top: 25px;
	float: left;
	background: url(data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAAIsAAAAmCAYAAAD0m2jPAAAACXBIWXMAAAsTAAALEwEAmpwYAAAK
 TWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQ WaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec 5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28A AgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0 ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaO WJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHi wmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryM AgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0l YqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHi NLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYA QH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6c wR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBie whi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1c QPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqO Y4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hM WEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgoh JZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSU Eko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/p dLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Y b1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7O UndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsb di97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W 7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83 MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxr PGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW 2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1 U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd 8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H0 8PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+H vqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsG Lww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjg R2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4 qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWY EpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1Ir eZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/Pb FWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYj i1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVk Ve9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0Ibw Da0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vz DoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+y CW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawt o22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtd UV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3r O9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0 /rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv95 63Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+ UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAA ADqYAAAXb5JfxUYAAAMOSURBVHja7Jyxi9RAFMZHOAXhmigIolWK4wQr0z8s0ohaWMT24RXbaWGz YGFjs531Kgp2so3IE0QObEUM/gFiCkGusFgQrrBybN7AY5xsdhfBTfYrPtjJZGZh5pf3vrxk17GQ M7rKQq9Z6AcLeWhrdcxCH1joLgud8t47770LkJxgocdYJCihmoXOW1gemM5HLHQuijjQQBWihhUL 7bLQbRb6aIDZcSx0gYV+6cFrWEDAYqA5a4C541jonjZeYvEASwKYA+XjvWOh59o4wOIBlgQsZ5SP uWMh0cZNLB5gaQHGs5B3LPRGG9exeIAFsPytbMPnAyz/AYgpC40TfRULzVlotMQ8+YK+ioUaFpoB ln6rMLWjMuo71ONNBwwjPW/S0l+a78gBS781Dk7ebGaRONYFi1fAUulmrpEFsPRQuSozUWSUiCqV SVf5At9RGCAmGo1qnadNjQqwbDgo6z4DOexIacEDrTInYNlwU9u0XP0WCqu6xaRmCXOcJ6JQDEZm zgMsPdWqV7s1wcU/nBewDBCWQqNOGJcBlu2AJTN3QKuOjWs1cYppS0MZYNlsWS8y042e6ucAyzTS zIwplviOZklzWwKWfqSadVW21FpsZAmGuM04B4MNWHpSY4nvRCZmU6tEisoXpI4QlUbwLMP3LJmm n3D1z1f0E3MY3O2BJaSKqSnaNUsCU5h3UHHrPPCnzrMEHCNjdquOOSYdDxIBywBUmruW1APDsdnk RttFIto0xvi2VWZTsKCC24NIMo4KafWCTauMH/EmVdl+W5Ar17i7ygHL5r6/Yjd/vCRgEzMuT7zY VEfRqul44lyb8wDLhqef6RqblC3wL+VAjT88CwRYIMAC9Q2WF9pgLB5gafmRvGehY8dCD7XxBIsH WBKw3FA+PjkWusRCv/XAPhYQsESwvA2liDDoqR74ykK3sIiAhYX2WOiVcvGNhXbDoNMs9M4UtL6z 0GctMEHbpy+GhSMWumz/+cmx0A4L3V/hTTBo2PrJQs9Y/yIshsXqIgtd0RI6tH3aY6GTcWr6MwAI NIgHRFqMTwAAAABJRU5ErkJggg==) no-repeat center;
}

#guanzhu:visited {
	background: url(../images/mobile/guanzhu_visited.png) no-repeat center;
}

#openapp {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: 128px;
	background: url(../images/mobile/openapp.png) no-repeat 100% 100%;
}

#close {
	position: absolute;
	right: 23px;
	top: 3px;
	width: 44px;
	height: 44px;
	background: url(data:img/jpg;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAYAAAAehFoBAAAACXBIWXMAAAsTAAALEwEAmpwYAAAK
 TWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQ WaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec 5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28A AgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0 ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaO WJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHi wmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryM AgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0l YqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHi NLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYA QH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6c wR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBie whi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1c QPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqO Y4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hM WEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgoh JZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSU Eko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/p dLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Y b1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7O UndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsb di97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W 7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83 MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxr PGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW 2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1 U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd 8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H0 8PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+H vqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsG Lww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjg R2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4 qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWY EpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1Ir eZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/Pb FWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYj i1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVk Ve9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0Ibw Da0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vz DoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+y CW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawt o22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtd UV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3r O9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0 /rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv95 63Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+ UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAA ADqYAAAXb5JfxUYAAAEcSURBVHja7NgxbsJAEIXhn20og2hpaLhCaki4NogWakpOEEUIKNIEYRqQ LEuWYeftLkgzB7A+r2Znnt2rqop3qsCblYMd7GAH28EDYJb45YbASAU+AH/AdyL0EJgD/8qWWAOn BOg7dgX8qHtYjX4aG3PpVOgobOyUsKKjsZaxFos2Ya1z+Fm0GatYHGvg+ABaglVtuk0HWoZVruY2 tBQL0BN/In0CH8DittKl2BTgO3oE9IGlEpsqre2ACXAGftUPV59wvWfHtfa4vOIJNy9Y1/QoCm6b BnJ0jtQlRYfEWDk6Z0SUoEMmrAydPc9a0SEz1owOBbAmdCiEjUaHgtgmeqrKEl/ANhG2eTD7EvEy afnfSwc72MEOLlvXAQC4SXQggiaVawAAAABJRU5ErkJggg==)
}
/*修改VIP尾页生成二维码样式*/
#vip2-wrapper{
	width: 100%;
	height: 100%;
}
.qrcode-waper{
	width: 100%;
	height: 348px;
}
#vip2-qrcode{
	width: 308px;
	height: 308px;
	padding: 20px 20px;
	background: #FFFFFF;
	margin: 0 auto;
}
.vip-hr {
	width: 491px;
	height: 4px;
	margin: 50px auto 51px;
	background: url(../images/mobile/vip-hr.png) no-repeat center;
	background-size: contain;
}
#vip-face {
	display: block;
	width: 170px;
	height: 170px;
	margin: 25px auto 26px;
	border-radius: 100%;
	border: 4px #fff solid;
}

#vip-nick {
	color: #fff;
	font-size: 31px;
	text-align: center;
} 
#vip-nick>label {
/*	font-family: lantixihei;*/
}

/*点击二维码的样式*/
.click-link{
	width: 100%;
/*	height: 50px;*/
/*	line-height: 50px;*/
	display: inline-block;
	margin: 32px auto; 
	font-size: 24px;
	text-align: center;
	text-decoration: underline;
	color: #acacac;
}
.click-link:link {
	color: #acacac;
	text-decoration: underline;
}
.click-link:visited {
	color: #acacac;
	text-decoration: underline;
}
.click-link:hover {
	color: #acacac;
	text-decoration: underline;
} 

#vip-ME {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 57px;
	background: url(../images/mobile/vip-ME.png) center no-repeat;
/*	background-size: cover;*/
}

#pc-ME {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 100%;
	height: 50px;
	background: url(../images/mobile/pc-ME.png) center no-repeat;
/*	background-size: cover;*/
}



/**设置点击提示框的样式**/
.iw_poi_title {
	color:#CC5522;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	padding-right:13px;
	white-space:nowrap;
}
.iw_poi_content {
	font:12px arial,sans-serif;
	overflow:visible;
	padding-top:4px;
	white-space:-moz-pre-wrap;
	word-wrap:break-word;
}
/**去掉百度地图的log**/
.BMap_cpyCtrl{
	display:none;
}
.anchorBL{
	display:none;
}
